<% include header %>
<div class="admin2" id="articleType">
	<table class="ad_table2">
		<tr>
			<td class="td1">名称：</td>
			<td><input type="text" id="name" class="form-control" value="<%- xData.name %>" /></td>
		</tr>
		<tr>
			<td class="td1">路径：</td>
			<td><input type="text" id="path" class="form-control" value="<%- xData.path %>" /></td>
		</tr>
		<tr>
			<td class="td1">是否启用：</td>
			<td>
				<select id="enabled" class="form-control">
					<option value="1" selected="selected">是</option>
					<option value="0">否</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="td1">&nbsp;</td>
			<td><a href="javascript:void(0)" class="btn" data-id="<%- xData._id %>" id="submit">确定</a></td>
		</tr>
	</table>
</div>
<% include footer %>