	<footer class="footer"><%- blogInfo.copyright %></footer>
</body>
<script src="/fe/static/scripts/jquery-1.11.1.min.js"></script>
<% if (blogInfo.useEditor) { %><% include umeditorFooter %><% } %>
<script src="/fe/controllers/admin.js"></script>
</html>