<!DOCTYPE html>
<html>
<head>
	<title>后台管理</title>
	<!-- 缩放控制 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<!-- 删除默认的苹果工具栏和菜单栏 -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="stylesheet" href="/static/styles/main.css" />
	<!--[if lt IE 9]>
	<script src="/js/html5.js"></script>
	<script src="/js/css3-mediaqueries.min.js"></script>
	<![endif]-->
</head>
<body class="admin">
	<header class="header">
		<div class="inner">
			<h1><a href="/admin" class="logo"><%- blogInfo.title %></a></h1>
			<div class="icon-menu"></div>
			<nav id="nav">
				<a href="/admin/blogInfo">博客信息</a>
				<a href="/admin/articleList">文章</a>
				<a href="/admin/articleTypeList">文章类型</a>
				<a href="/admin/articleTagList">标签云</a>
				<a href="/admin/commentList">评论</a>
				<a href="/admin/userList">用户</a>
				<a href="/admin/adminList">管理员</a>
				<a href="/admin/linkList">友情链接</a>
			</nav>
		</div>
	</header>