<% include header %>
<div class="main" id="login">
  <table class="table1">
    <tr>
      <td class="td1">&nbsp;</td>
      <td><h2>登陆</h2></td>
    </tr>
    <tr>
      <td class="td1">邮箱：</td>
      <td><input type="text" name="email" class="form-control" value="<%- admin.email %>"
                 data-validate=<%- JSON.stringify({
                   rules: ['isRequired', 'isEmail'],
                   msgs: ['邮箱不能为空！', '邮箱格式不正确！']
                 }) %>/></td>
    </tr>
    <tr>
      <td class="td1">密码：</td>
      <td><input type="password" name="password" class="form-control" value="<%- admin.email ? '******' : '' %>"
                 data-validate=<%- JSON.stringify({rules: ['isRequired'], msgs: ['密码不能为空！']}) %>/></td>
    </tr>
    <tr>
      <td class="td1">&nbsp;</td>
      <td>
        <a data-href="./login?action=in" class="btn" id="submit">确定</a>&nbsp;&nbsp;
        <span class="alert alert-warning js_alert"></span>
      </td>
    </tr>
  </table>
</div>
<% include footer %>