# github ignore
/resource/api
/resource/demo
/resource/upload
/resource/fe/static/scripts/umeditor
/config/prod.js
/bin/scp.dev.sh

# 包
/node_modules

# webstorm配置
.idea

# mac cache
.DS_Store

# sass编译map
*.map

# npm
npm-debug.log

# data
/data