<!DOCTYPE html>
<html>
<head>
  <title>404</title>
  <link rel="stylesheet" href="/fe/static/styles/main.css"/>
</head>
<body>
<div class="welcome">
  <h1>404，<%- msg %></h1><br/><br/><br/>
  <a href="/">点击返回首页</a>
</div>
</body>
</html>