<% include docHeader %>
<title><%- singlePage.title %>_<%- blogInfo.title %></title>
<% include header %>
<div class="main">
  <section class="contents">
    <article class="detail">
      <header>
        <h2><%- singlePage.title %></h2>
      </header>
      <section class="info"><%- singlePage.content %></section>
    </article>
  </section>
  <% include sidebar %>
</div>
<% include footer %>